{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Menu</title>
    <link rel="stylesheet" href="style_edit_menu_item.css">
</head>

<body>
    <div class="edit-record-box">
        <h2>Edit Menu</h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            {% if form.errors %}
                <div class="form-errors">
                    <ul>
                        {% for field in form %}
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            
            <div class="input-box">
                {{ form.name }}
                <label>Name</label>
            </div>
            <div class="input-box">
                {{ form.price }}
                <label>Price</label>
            </div>
            <div class="input-box">
                {{ form.description }}
                <label>Description</label>
            </div>
            <div class="input-box">
                {{ form.category }}
                <label>Category</label>
            </div>
            <div class="input-box">
                {{ form.image }}
                <label>Image</label>
            </div>
            <button type="submit" class="btn">Save Changes</button>
        </form>
    </div>
    <script src="edit_menu_item.js"></script>
</body>
</html>
